@page "/PMT03500PhotoPopup"
@using PMT03500FrontResources
@using R_BlazorFrontEnd.Interfaces
@inherits R_Page
@attribute [R_Page(Title = "View Photo")];

@inject R_ILocalizer<Resources_Dummy_Class> _localizer

@* <div class="w-75 h-100"> *@
<R_StackLayout Row Style="width: 1250px; height: 570px">
    <R_ItemLayout col="6">
        <R_StackLayout Row>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_Label>@_localizer["LBL_START"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_Label>@_localizer["LBL_END"]</R_Label>
            </R_ItemLayout>
        </R_StackLayout>
        
        <R_StackLayout Row>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_ImageBox Value="_viewModel.Entity.ODATA_START_PHOTO1" MaxWidth="90%" MaxHeight="90%"/>
            </R_ItemLayout>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_ImageBox Value="_viewModel.Entity.ODATA_END_PHOTO1" MaxWidth="90%" MaxHeight="90%"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_ImageBox Value="_viewModel.Entity.ODATA_START_PHOTO2" MaxWidth="90%" MaxHeight="90%"/>
            </R_ItemLayout>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_ImageBox Value="_viewModel.Entity.ODATA_END_PHOTO2" MaxWidth="90%" MaxHeight="90%"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_ImageBox Value="_viewModel.Entity.ODATA_START_PHOTO3" MaxWidth="90%" MaxHeight="90%" />
            </R_ItemLayout>
            <R_ItemLayout col="6" Class="d-flex justify-content-center">
                <R_ImageBox Value="_viewModel.Entity.ODATA_END_PHOTO3" MaxWidth="90%" MaxHeight="90%"/>
            </R_ItemLayout>
        </R_StackLayout>
    </R_ItemLayout>
    <R_ItemLayout col="6">
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_PROP"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="8">
                <R_TextBox Value="@_viewModel.Entity.CPROPERTY_ID" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_BUILDING"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="8">
                <R_TextBox Value="@_viewModel.Entity.CBUILDING_NAME" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_FLOOR"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="8">
                <R_TextBox Value="@_viewModel.Entity.CFLOOR_ID" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_UNIT"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="8">
                <R_TextBox Value="@_viewModel.Entity.CUNIT_ID" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_UNITTYPE"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="8">
                <R_TextBox Value="@_viewModel.Entity.CUNIT_ID" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_METERNO"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="8">
                <R_TextBox Value="@_viewModel.Entity.CMETER_NO" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row Class="@_viewModel.DisplayEC">
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_CAPACITY"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="4">
                <R_NumericTextBox Value="@_viewModel.Entity.NKVA" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
            </R_ItemLayout>
            <R_ItemLayout col="1" Class="d-flex justify-content-end">
                <R_Label>@_localizer["LBL_CF"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="3" Class="pe-2">
                <R_NumericTextBox Value="@_viewModel.Entity.NCF" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row Class="@_viewModel.DisplayWG">
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_CF"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="2" Class="pe-2">
                <R_NumericTextBox Value="@_viewModel.Entity.NCF" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row Class="mt-2">
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_INVPERIOD"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="4">
                <R_TextBox Value="@_viewModel.Entity.CINV_PRD" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_STARTDATE"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="4">
                <R_DateInput Value="@_viewModel.Entity.DSTART_DATE" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["LBL_ENDDATE"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="4">
                <R_DateInput Value="@_viewModel.Entity.DEND_DATE" Enabled="false"/>
            </R_ItemLayout>
        </R_StackLayout>
        
        <R_StackLayout Class="@_viewModel.DisplayWG">
            <R_ItemLayout>
                <R_StackLayout Row Class="mt-2">
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_METERSTART"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IMETER_START" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_METEREND"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IMETER_END" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_METERUSAGE"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IBLOCK1_USAGE" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
            </R_ItemLayout>
        </R_StackLayout>
        
        <R_StackLayout Class="@_viewModel.DisplayEC">
            <R_ItemLayout>
                
                <R_StackLayout Row Class="mt-2">
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_BLOCK1START"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IBLOCK1_START" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_BLOCK1END"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IBLOCK1_END" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_BLOCK1USAGE"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IBLOCK1_USAGE" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
                <R_StackLayout Row Class="mt-2">
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_BLOCK2START"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IBLOCK2_START" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_BLOCK2END"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IBLOCK2_END" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
                <R_StackLayout Row>
                    <R_ItemLayout col="3">
                        <R_Label>@_localizer["LBL_BLOCK2USAGE"]</R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="4">
                        <R_NumericTextBox Value="@_viewModel.Entity.IBLOCK2_USAGE" Enabled="false" Arrows="false" TextAlignment="R_eTextAlignment.Right"/>
                    </R_ItemLayout>
                </R_StackLayout>
            </R_ItemLayout>
        </R_StackLayout>
    </R_ItemLayout>
</R_StackLayout>
@* </div> *@