@inherits R_Page
@attribute [R_Page(Title = "Credit Note Item")]
@using PMT50600COMMON.DTOs.PMT50611
@using PMT50600MODEL

<R_StackLayout Row>
    <R_ItemLayout col="7">
        <R_StackLayout Row>
            <R_ItemLayout col="11">
                <h3 class="mb-0">@loCreditNoteItemViewModel.loHeader.CPROPERTY_NAME</h3>
                <h6 class="fw-bolder">@loCreditNoteItemViewModel.loHeader.CDEPT_NAME</h6>
            </R_ItemLayout>
        </R_StackLayout>

        <R_StackLayout Row>
            <R_ItemLayout col="2">
                <R_Label>@_localizer["_Reference"] : </R_Label>
            </R_ItemLayout>
            <R_ItemLayout col="9">
                <R_Label>@(loCreditNoteItemViewModel.loHeader.CREF_NO + " / " + loCreditNoteItemViewModel.loHeader.DREF_DATE.ToString("dd-MMM-yyyy"))</R_Label>
                </R_ItemLayout>
            </R_StackLayout>
        </R_ItemLayout>
        <R_ItemLayout col="5">
            <R_StackLayout Row>
            <R_ItemLayout col="12" Class="justify-content-end">
                <h5>@(loCreditNoteItemViewModel.loHeader.CTENANT_NAME + " / " + loCreditNoteItemViewModel.loHeader.CCUSTOMER_TYPE_NAME + " " + _localizer["In"] + " " + loCreditNoteItemViewModel.loHeader.CCURRENCY_CODE)</h5>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["_LocalCurrency"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout Style="width:93px">
                <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loHeader.NLBASE_RATE"
                                  R_ConductorGridSource="@_conductorCreditNoteItemRef"
                                  Arrows="false"
                                  Decimals="0"
                                  Enabled="false">
                </R_NumericTextBox>
            </R_ItemLayout>
            <R_ItemLayout Style="width:60px">
                <R_Label>@loCreditNoteItemViewModel.loHeader.CCURRENCY_CODE</R_Label>
            </R_ItemLayout>
            <R_ItemLayout Style="width: 10px">
                <R_Label>=</R_Label>
            </R_ItemLayout>
            <R_ItemLayout Style="width:93px">
                <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loHeader.NLCURRENCY_RATE"
                                  R_ConductorGridSource="@_conductorCreditNoteItemRef"
                                  Arrows="false"
                                  Decimals="6"
                                  Enabled="false">
                </R_NumericTextBox>
            </R_ItemLayout>
            <R_ItemLayout Style="width:60px">
                <R_Label>@loCreditNoteItemViewModel.loHeader.CLOCAL_CURRENCY_CODE</R_Label>
            </R_ItemLayout>
        </R_StackLayout>
        <R_StackLayout Row>
            <R_ItemLayout col="3">
                <R_Label>@_localizer["_TaxRate"]</R_Label>
            </R_ItemLayout>
            <R_ItemLayout Style="width:92px">
                <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loHeader.NTAX_BASE_RATE"
                                  R_ConductorGridSource="@_conductorCreditNoteItemRef"
                                  Arrows="false"
                                  Decimals="0"
                                  Enabled="false">
                </R_NumericTextBox>
            </R_ItemLayout>
            <R_ItemLayout Style="width:60px">
                <R_Label>@loCreditNoteItemViewModel.loHeader.CLOCAL_CURRENCY_CODE</R_Label>
            </R_ItemLayout>
            <R_ItemLayout Style="width: 10px">
                <R_Label>=</R_Label>
            </R_ItemLayout>
            <R_ItemLayout Style="width:92px">
                <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loHeader.NTAX_CURRENCY_RATE"
                                  R_ConductorGridSource="@_conductorCreditNoteItemRef"
                                  Arrows="false"
                                  Decimals="6"
                                  Enabled="false">
                </R_NumericTextBox>
            </R_ItemLayout>
            <R_ItemLayout Style="width:60px">
                <R_Label>@loCreditNoteItemViewModel.loHeader.CLOCAL_CURRENCY_CODE</R_Label>
            </R_ItemLayout>
        </R_StackLayout>
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout Row>
    <R_ItemLayout col="12">
        <R_Grid @ref="@_gridCreditNoteItemRef"
                DataSource="@loCreditNoteItemViewModel.loCreditNoteItemList"
                Pageable="true"
                R_ConductorGridSource="@_conductorCreditNoteItemRef"
                R_GridType="@R_eGridType.Original"
                AllowAddNewRow="false"
                AllowEditRow="false"
                AllowDeleteRow="false"
                Height="300px"
                R_Display="Grid_CreditNoteItem_R_Display"
                R_ServiceGetListRecord="@Grid_CreditNoteItem_R_ServiceGetListRecord">
            <R_GridColumns>
                <R_GridTextColumn FieldName=@nameof(PMT50611ListDTO.CSEQ_NO) HeaderText="@_localizer["_SeqNo"]" Width="100px"></R_GridTextColumn>
                <R_GridTextColumn FieldName=@nameof(PMT50611ListDTO.CPROD_TYPE_NAME) HeaderText="@_localizer["_Type"]" Width="100px"></R_GridTextColumn>
                <R_GridTextColumn FieldName="@nameof(PMT50611ListDTO.CPRODUCT_ID)" HeaderText="@_localizer["_ProductServiceID"]" Width="200px"></R_GridTextColumn>
                <R_GridTextColumn FieldName="@nameof(PMT50611ListDTO.CPRODUCT_NAME)" HeaderText="@_localizer["_ProductServiceName"]" Width="250px"></R_GridTextColumn>
                <R_GridTextColumn FieldName="@nameof(PMT50611ListDTO.CBILL_UNIT)" HeaderText="@_localizer["_Unit"]" Width="75px"></R_GridTextColumn>
                <R_GridNumericColumn TValue="decimal" FieldName="@nameof(PMT50611ListDTO.NBILL_UNIT_QTY)" HeaderText="@_localizer["_Qty"]" Width="75px"></R_GridNumericColumn>
                <R_GridNumericColumn TValue="decimal" FieldName="@nameof(PMT50611ListDTO.NUNIT_PRICE)" HeaderText="@_localizer["_UnitPrice"]" Width="150px"></R_GridNumericColumn>
                <R_GridNumericColumn TValue="decimal" FieldName="@nameof(PMT50611ListDTO.NAMOUNT)" HeaderText="@_localizer["_TotalPrice"]" Width="150px"></R_GridNumericColumn>
                <R_GridTextColumn FieldName="@nameof(PMT50611ListDTO.CUPDATE_BY)" HeaderText="@_localizer["_UpdatedBy"]" Width="125px"></R_GridTextColumn>
                <R_GridDateTimePickerColumn FieldName="@nameof(PMT50611ListDTO.DUPDATE_DATE)" HeaderText="@_localizer["_UpdatedDate"]" Width="200px"></R_GridDateTimePickerColumn>
                <R_GridTextColumn FieldName="@nameof(PMT50611ListDTO.CCREATE_BY)" HeaderText="@_localizer["_CreatedBy"]" Width="125px"></R_GridTextColumn>
                <R_GridDateTimePickerColumn FieldName="@nameof(PMT50611ListDTO.DCREATE_DATE)" HeaderText="@_localizer["_CreatedDate"]" Width="200px"></R_GridDateTimePickerColumn>
            </R_GridColumns>
        </R_Grid>
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout>
    <R_StackLayout Row>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_ServiceDept"]</R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="1">
            <R_TextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.CPROD_DEPT_CODE"
                       R_ConductorGridSource="@_conductorCreditNoteItemRef"
                       Enabled="false">
            </R_TextBox>
        </R_ItemLayout>
        <R_ItemLayout col="3">
            <R_TextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.CPROD_DEPT_NAME"
                       R_ConductorGridSource="@_conductorCreditNoteItemRef"
                       Enabled="false">
            </R_TextBox>
        </R_ItemLayout>
        <R_ItemLayout Style="width:150px">
            <R_Label>@_localizer["_LineDiscount"]</R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="2">
            <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.NDISC_AMOUNT"
                              R_ConductorGridSource="@_conductorCreditNoteItemRef"
                              Arrows="false"
                              Enabled="false">
            </R_NumericTextBox>
        </R_ItemLayout>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_Tax"]</R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="2">
            <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.NTAX_AMOUNT"
                              R_ConductorGridSource="@_conductorCreditNoteItemRef"
                                  Arrows="false"
                              Enabled="false">
            </R_NumericTextBox>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_Service"]</R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="1">
            <R_TextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.CPRODUCT_ID"
                       R_ConductorGridSource="@_conductorCreditNoteItemRef"
                       Enabled="false">
            </R_TextBox>
        </R_ItemLayout>
        <R_ItemLayout col="3">
            <R_TextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.CPRODUCT_NAME"
                       R_ConductorGridSource="@_conductorCreditNoteItemRef"
                       Enabled="false">
            </R_TextBox>
        </R_ItemLayout>
        <R_ItemLayout Style="width:150px">
            <R_Label>@_localizer["_SummaryDiscount"]</R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="2">
            <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.NDIST_DISCOUNT"
                              R_ConductorGridSource="@_conductorCreditNoteItemRef"
                              Arrows="false"
                              Enabled="false">
            </R_NumericTextBox>
        </R_ItemLayout>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_OtherTax"]</R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="2">
            <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.NOTHER_TAX_AMOUNT"
                              R_ConductorGridSource="@_conductorCreditNoteItemRef"
                              Arrows="false"
                              Enabled="false">
            </R_NumericTextBox>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="5" Class="me-2">
            <R_Label></R_Label>
        </R_ItemLayout>
        <R_ItemLayout Style="width:150px">
            <R_Label></R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="2">
@*
            <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.NDIST_ADD_ON"
                              R_ConductorGridSource="@_conductorCreditNoteItemRef"
                              Arrows="false"
                              Enabled="false">
            </R_NumericTextBox>
*@
            <R_Label></R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_LineAmount"]</R_Label>
        </R_ItemLayout>
        <R_ItemLayout col="2">
            <R_NumericTextBox @bind-Value="@loCreditNoteItemViewModel.loDetail.NLINE_AMOUNT"
                              R_ConductorGridSource="@_conductorCreditNoteItemRef"
                              Arrows="false"
                              Enabled="false">
            </R_NumericTextBox>
        </R_ItemLayout>
    </R_StackLayout>
</R_StackLayout>

<R_ConductorGrid @ref="@_conductorCreditNoteItemRef"
                 R_ViewModel="@loCreditNoteItemViewModel"
                 R_IsHeader="true"/>