@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using System.Reflection
@using R_BlazorFrontEnd.Helpers
@using BlazorMenu.Shared.Tabs
@inject LazyAssemblyLoader AssemblyLoader

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly"
            AdditionalAssemblies="@lazyLoadedAssemblies"
            OnNavigateAsync="@OnNavigateAsync">
        <Found Context="routeData">
            <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private List<Assembly> lazyLoadedAssemblies = new()
    {
        typeof(GSM02000Front.GSM02000).Assembly,
        typeof(GSM04500Front.GSM04500).Assembly,
        typeof(GSM05000Front.GSM05000).Assembly,
        typeof(GLM00500Front.GLM00500).Assembly,
        typeof(GLT00200FRONT.GLT00200).Assembly,
        typeof(GLI00100Front.GLI00100).Assembly,
        // typeof(LMM01500Front.LMM01500).Assembly,
        typeof(LMM02500Front.LMM02500).Assembly,
        typeof(PMT03500Front.PMT03500).Assembly,
    };

    private async Task OnNavigateAsync(NavigationContext args)
    {
        try
        {
            if (string.IsNullOrWhiteSpace(args.Path))
                return;

            var lcAssemblyName = args.Path + "Front.dll";
            R_eFormAccess[] loFormAccess = new[] { R_eFormAccess.Add };

            if (args.Path == "SAB0070011")
            {
                var loAssemblies = await AssemblyLoader.LoadAssembliesAsync(
                    new[] { lcAssemblyName });

                var loAssembly = loAssemblies.FirstOrDefault();

                if (loAssembly != null)
                {
                    var lcAssemblyFullName = args.Path + "Front." + args.Path;

                    Type loType = loAssembly.GetType(lcAssemblyFullName, false, true);
                    var loPage = Activator.CreateInstance(loType, null);

                    ((R_IFormAccess)loPage).R_SetAccess(loFormAccess);
                }

                lazyLoadedAssemblies.AddRange(loAssemblies);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}