@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using System.Reflection
@using R_BlazorFrontEnd.Controls.Enums
@using R_BlazorFrontEnd.Controls.Interfaces
@using R_BlazorFrontEnd.Helpers
@inject LazyAssemblyLoader AssemblyLoader

<R_BasicRouter AppAssembly="@typeof(Program).Assembly"
               AdditionalAssemblies="@lazyLoadedAssemblies">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </CascadingAuthenticationState>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</R_BasicRouter>

@code {
    private List<Assembly> lazyLoadedAssemblies = new()
    {
        typeof(BlazorMenu.Components.Pages.Content.Home).Assembly,
       //GS
       typeof(GSM04500Front.GSM04500).Assembly,
       typeof(GSM06500Front.GSM06500).Assembly,
       typeof(GST00500Front.GST00500).Assembly,
       typeof(GSM02500FRONT.GSM02503Image).Assembly,
      //LM
      //typeof(PMM06000Front.LMM06000).Assembly,
      // typeof(UtilityFront.TryLookUp).Assembly,

      typeof(PMB04000FRONT.PMB04000).Assembly,
      typeof(PMT05500Front.PMT05500).Assembly,
      typeof(PMR00150FRONT.PMR00150).Assembly,
      typeof(PMT01700FRONT.PMT01700).Assembly,
      typeof(PMT02000FRONT.PMT02000).Assembly,
      // typeof(PMT50600FRONT.PMT50610).Assembly,
      typeof(PMM09000FRONT.PMM09000).Assembly,
      typeof(PMT04200FRONT.PMT04200).Assembly,
      typeof(PMM10000FRONT.PMM10000).Assembly,
      typeof(PMT00100FRONT.PMT00100).Assembly,
      //GL
      typeof(GLB00200Front.GLB00200).Assembly,
      typeof(GLR00300Front.GLR00300).Assembly,
      //CB
      typeof(CBT02300FRONT.CBT02300).Assembly,
    //  typeof(PMT50600FRONT.PMT50610DepositCreditNote).Assembly,
      //AP
       //typeof(APT00100FRONT.APT00100).Assembly,
       //typeof(APT00200FRONT.APT00200).Assembly,
     //IC
      typeof(ICT00900FRONT.ICT00900).Assembly,

    };

    private async Task OnNavigateAsync(NavigationContext args)
    {
        try
        {
            if (string.IsNullOrWhiteSpace(args.Path))
                return;

            var lcAssemblyName = args.Path + "Front.dll";
            R_eFormAccess[] loFormAccess = new[] { R_eFormAccess.Add };

            if (args.Path == "SAB0070011")
            {
                var loAssemblies = await AssemblyLoader.LoadAssembliesAsync(
                    new[] { lcAssemblyName });

                var loAssembly = loAssemblies.FirstOrDefault();

                if (loAssembly != null)
                {
                    var lcAssemblyFullName = args.Path + "Front." + args.Path;

                    Type loType = loAssembly.GetType(lcAssemblyFullName, false, true);
                    var loPage = Activator.CreateInstance(loType, null);

                    ((R_IFormAccess)loPage).R_SetAccess(loFormAccess);
                }

                lazyLoadedAssemblies.AddRange(loAssemblies);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}