@page "/GSM02000"
@using GSM02000Common.DTOs
@inherits R_Page

<R_StackLayout Spacing="3" Class="mb-4">
    <R_StackLayout>
        <R_Grid @ref="@_gridRef"
                DataSource="@_GSM02000ViewModel.GridList"
                Pageable="true"
                R_ConductorSource="@_conductorRef"
                R_GridType="@R_eGridType.Navigator"
                R_ServiceGetListRecord="@Grid_R_ServiceGetListRecord">
            <R_GridColumns>
                <R_GridCheckBoxColumn FieldName="LACTIVE" HeaderText="Active"/>
                <R_GridTextColumn FieldName="CTAX_ID" HeaderText="Tax Id"/>
                <R_GridTextColumn FieldName="CTAX_NAME" HeaderText="Tax Name"/>
                <R_GridTextColumn FieldName="NTAX_PERCENTAGE" HeaderText="Tax %"/>
                <R_GridTextColumn FieldName="CROUNDING_MODE_DESCR" HeaderText="Rounding Mode"/>
                <R_GridNumericColumn FieldName="IROUNDING" HeaderText="Rounding Unit"/>
                <R_GridTextColumn FieldName="CGLACCOUNT_NO" HeaderText="GL Account No"/>
                <R_GridTextColumn FieldName="CGLACCOUNT_NAME" HeaderText="GL Account Name"/>
                <R_GridTextColumn FieldName="CUPDATE_BY" HeaderText="Last Update By"/>
                <R_GridTextColumn FieldName="DUPDATE_DATE" HeaderText="Last Update Date"/>
                <R_GridTextColumn FieldName="CCREATE_BY" HeaderText="Create By"/>
                <R_GridTextColumn FieldName="DCREATE_DATE" HeaderText="Create Date"/>
            </R_GridColumns>
        </R_Grid>
    </R_StackLayout>
</R_StackLayout>

<R_StackLayout>
    <R_StackLayout Row="true" Spacing="3">
        <h2>Sales Tax Detail</h2>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout xs="2" Class="col-lg-1">
            <R_Label>Tax Id*</R_Label>
        </R_ItemLayout>
        <R_ItemLayout xs="4" Class="col-lg-2">
            <R_TextBox @bind-Value="@_GSM02000ViewModel.Data.CTAX_ID"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd="true"
                       R_EnableEdit="false"/>
        </R_ItemLayout>
        <R_ItemLayout xs="4" Class="col-lg-4">
            <R_TextBox @bind-Value="@_GSM02000ViewModel.Data.CTAX_NAME"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd="true"
                       R_EnableEdit="true"/>
        </R_ItemLayout>
        <R_ItemLayout xs="4">
            <R_CheckBox @bind-Value="@_GSM02000ViewModel.Data.LACTIVE"
                        R_ConductorSource="@_conductorRef"
                        R_EnableAdd="true"
                        R_EnableEdit="false"/>
        </R_ItemLayout>
        <R_ItemLayout xs="4">
            <R_Label>Active</R_Label>
        </R_ItemLayout>

    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout xs="2" Class="col-lg-1">
            <R_Label>Description</R_Label>
        </R_ItemLayout>

        <R_ItemLayout xs="4" Class="col-lg-6">
            <R_TextArea @bind-Value="@_GSM02000ViewModel.Data.CDESCRIPTION"
                        R_ConductorSource="@_conductorRef"
                        R_EnableAdd="true"
                        R_EnableEdit="true"/>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true">
        <R_ItemLayout xs="2" Class="col-lg-1">
            <R_Label>Tax %</R_Label>
        </R_ItemLayout>

        <R_ItemLayout xs="4" Class="col-lg-1 me-5">
            <R_NumericTextBox @bind-Value="@_GSM02000ViewModel.Data.NTAX_PERCENTAGE"
                              R_ConductorSource="@_conductorRef"
                              R_EnableAdd="true"
                              R_EnableEdit="true"
                              Min="0"
                              Max="100"/>
        </R_ItemLayout>

        <R_ItemLayout xs="2" Class="col-lg-1 text-md-end">
            <R_Label>Rounding Mode*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout xs="4" Class="col-lg-1 me-5">
            <R_ComboBox Data="@_GSM02000ViewModel.RoundingModeList"
                        @bind-Value="@_GSM02000ViewModel.Data.CROUNDING_MODE"
                        ValueField="@nameof(GSM02000RoundingDTO.CCODE)"
                        TextField="@nameof(GSM02000RoundingDTO.CDESCRIPTION)"
                        R_ConductorSource="@_conductorRef"
                        R_EnableAdd="true"
                        R_EnableEdit="true"/>
        </R_ItemLayout>

        <R_ItemLayout xs="2" Class="col-lg-1 text-md-end">
            <R_Label>Rounding Unit*</R_Label>
        </R_ItemLayout>

        <R_ItemLayout xs="4" Class="col-lg-1">
            <R_NumericTextBox @bind-Value="@_GSM02000ViewModel.Data.IROUNDING"
                              R_ConductorSource="@_conductorRef"
                              R_EnableAdd="true"
                              R_EnableEdit="true"
                              Min="-2"
                              Max="2"/>
        </R_ItemLayout>
        <R_ItemLayout>
            <R_Label Style="font-style: italic">(-2, -1, 0, 1, 2)</R_Label>
        </R_ItemLayout>

    </R_StackLayout>
    <R_StackLayout Row="true">
        <R_ItemLayout xs="5" Class="col-lg-1">
            <R_Label>GL Account No.</R_Label>
        </R_ItemLayout>

        <R_ItemLayout xs="4" Class="col-lg-2">
            <R_TextBox @bind-Value="@_GSM02000ViewModel.Data.CGLACCOUNT_NO"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd="true"
                       R_EnableEdit="false"/>
        </R_ItemLayout>
        <R_ItemLayout xs="1" Class="col-lg-1">
            <R_Button>Pick</R_Button>
            @* <R_Button R_ConductorSource="_conductorRef"  *@
            @*           OnClick="" *@
            @* >Pick</R_Button> *@
            @* <R_ItemLayout xs="1"> *@
            @*   <R_Find R_ConductorSource="@_conductorRef" *@
            @*           R_Before_Open_Find="@R_Before_Open_Find" *@
            @*           R_After_Open_Find="@R_After_Open_Find" *@
            @*           R_EnableOther *@
            @*           R_FindModel="@FindModel"> *@
            @*     @_localizer["_FindProduct"] *@
            @*   </R_Find> *@
            @* </R_ItemLayout> *@
        </R_ItemLayout>
        <R_ItemLayout xs="4" Class="col-lg-3">
            <R_TextBox @bind-Value="@_GSM02000ViewModel.Data.CGLACCOUNT_NAME"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd="true"
                       R_EnableEdit="false"/>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row="true" Spacing="5">
        <R_ItemLayout Class="col-lg-2">
            <R_StackLayout Row="true">
                <R_ItemLayout xs="1" Class="col-lg">
                    <R_AddButton R_Conductor="@_conductorRef"/>
                </R_ItemLayout>

                <R_ItemLayout xs="1" Class="col-lg">
                    <R_EditButton R_Conductor="@_conductorRef"/>
                </R_ItemLayout>

                <R_ItemLayout xs="1" Class="col-lg">
                    <R_DeleteButton R_Conductor="@_conductorRef"/>
                </R_ItemLayout>
            </R_StackLayout>
        </R_ItemLayout>

        <R_ItemLayout Class="col-lg-2">
            <R_StackLayout Row="true">
                <R_ItemLayout Class="col-lg">
                    <R_ItemLayout xs="3">
                        <R_Button>Active/InActive</R_Button>
                    </R_ItemLayout>
                </R_ItemLayout>
            </R_StackLayout>
        </R_ItemLayout>

        <R_ItemLayout Class="col-lg-2">
            <R_StackLayout Row="true">
                <R_ItemLayout xs="1" Class="col-lg">
                    <R_CancelButton R_Conductor="@_conductorRef"/>
                </R_ItemLayout>
                <R_ItemLayout xs="1" Class="col-lg">
                    <R_SaveButton R_Conductor="@_conductorRef"/>
                </R_ItemLayout>
            </R_StackLayout>
        </R_ItemLayout>
    </R_StackLayout>
</R_StackLayout>

<R_Conductor @ref="@_conductorRef"
             R_ViewModel="@_GSM02000ViewModel"
             R_IsHeader="true"
             @* R_Display="@Conductor_Display" *@
             @* R_Validation="@Conductor_Validation" *@
             R_ServiceGetRecord="@Conductor_ServiceGetRecord"
             R_AfterSave="Conductor_AfterSave"
             R_ServiceSave="@Conductor_ServiceSave"
             R_ServiceDelete="@Conductor_ServiceDelete"
             @* R_ConvertToGridEntity="@R_ConvertToGridEntity" *@
             />