@inherits R_Page
@inject R_ILocalizer<Resources_PMT01700_Class> _localizer
@attribute [R_Page(Title = "Event")]

<R_StackLayout Style="@PageWidth">

    <R_StackLayout Row>
        <R_ItemLayout col="2">
            <R_RadioGroup R_ConductorSource="@_conductor"
                          Data="@_viewModel.oDataChoose"
                          @bind-Value="@_viewModel.cDataChoosen"
                          OnChanged="FuncRadioGroupChoosenData"
                          R_EnableAdd
                          R_EnableEdit="false"
                          ValueField="@nameof(PMT01700ComboBoxDTO.CCODE)"
                          TextField="@nameof(PMT01700ComboBoxDTO.CDESCRIPTION)"
                          Layout="R_eRadioGroupLayout.Vertical" />
        </R_ItemLayout>

        <R_ItemLayout col="10" Class="d-flex">

            <R_ItemLayout col="2" Class="d-flex">

                <R_ItemLayout col="9">
                    <R_TextBox @bind-Value="@_viewModel.oTempExistingEntity.CTENANT_ID"
                               R_ConductorSource="@_conductor"
                               MaxLength="20"
                               OnLostFocus="@OnLostFocusTenant"
                               @ref="_componentCTENANT_IDTextBox"
                               Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenant)">
                    </R_TextBox>
                </R_ItemLayout>

                <R_ItemLayout col="3" Class="ps-1">
                    <R_Lookup R_ConductorSource="@_conductor"
                              @ref="@R_LookupTenantLookup"
                              Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenant)"
                              R_Before_Open_Lookup="@BeforeOpenLookUpTenantLookup"
                              R_After_Open_Lookup="@AfterOpenLookUpTenantLookupAsync">
                        ...
                    </R_Lookup>
                </R_ItemLayout>

            </R_ItemLayout>

            <R_ItemLayout col="4" Class="ps-1">

                <R_TextBox @bind-Value="@_viewModel.oTempExistingEntity.CTENANT_NAME"
                           R_ConductorSource="@_conductor"
                           Enabled="false">
                </R_TextBox>

            </R_ItemLayout>

        </R_ItemLayout>

    </R_StackLayout>

    <R_ItemLayout>

        <R_StackLayout>
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="1" Class="ps-4">
                    <R_Label>
                        @_localizer["_Tenant"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="2">
                    <R_TextBox @bind-Value="@_viewModel.Data.CTENANT_ID"
                               R_ConductorSource="@_conductor"
                               MaxLength="20"
                               R_EnableAdd
                               R_EnableEdit
                               Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                </R_ItemLayout>

                <R_ItemLayout col="4" Class="ps-1">

                    <R_TextBox @bind-Value="@_viewModel.Data.CTENANT_NAME"
                               R_ConductorSource="@_conductor"
                               R_EnableAdd
                               R_EnableEdit
                               Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />

                </R_ItemLayout>

                <R_ItemLayout col="5" Class="ps-1 d-flex">

                    <R_ItemLayout col="3">
                        <R_Label>
                            @_localizer["_Email"]*
                        </R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="5">
                        <R_TextBox @bind-Value="@_viewModel.Data.CEMAIL"
                                   MaxLength="100"
                                   R_ConductorSource="@_conductor"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="1" Class="ps-4">
                    <R_Label>
                        @_localizer["_Address"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="6">

                    <R_TextArea @bind-Value="@_viewModel.Data.CADDRESS"
                                MaxLength="255"
                                R_ConductorSource="@_conductor"
                                R_EnableAdd
                                R_EnableEdit
                                Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />

                </R_ItemLayout>

                <R_ItemLayout col="5" Class="ps-1">

                    <R_ItemLayout col="12" Class="d-flex">

                        <R_ItemLayout col="3">
                            <R_Label>
                                @_localizer["_PhoneNo1"]
                            </R_Label>
                        </R_ItemLayout>

                        <R_ItemLayout col="5">
                            <R_TextBox @bind-Value="@_viewModel.Data.CPHONE1"
                                       MaxLength="30"
                                       R_ConductorSource="@_conductor"
                                       R_EnableAdd
                                       R_EnableEdit
                                       Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                        </R_ItemLayout>

                    </R_ItemLayout>

                    <R_ItemLayout col="12" Class="d-flex pt-1">

                        <R_ItemLayout col="3">
                            <R_Label>
                                @_localizer["_PhoneNo2"]
                            </R_Label>
                        </R_ItemLayout>

                        <R_ItemLayout col="5">
                            <R_TextBox @bind-Value="@_viewModel.Data.CPHONE2"
                                       MaxLength="30"
                                       R_ConductorSource="@_conductor"
                                       R_EnableAdd
                                       R_EnableEdit
                                       Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                        </R_ItemLayout>

                    </R_ItemLayout>

                    <R_ItemLayout col="12" Class="d-flex pt-1">

                        <R_ItemLayout col="3">
                            <R_Label>
                                @_localizer["_TenantCategory"]
                            </R_Label>
                        </R_ItemLayout>

                        <R_ItemLayout col="5">

                            <R_DropDownList Data="@_viewModel.oComboBoxTenantCategory"
                                            @bind-Value="_viewModel.Data.CTENANT_CATEGORY_ID"
                                            ValueField="@nameof(PMT01700ResponseTenantCategoryDTO.CCATEGORY_ID)"
                                            TextField="@nameof(PMT01700ResponseTenantCategoryDTO.CCATEGORY_NAME)"
                                            PopupMaxHeight="200px"
                                            R_ConductorSource="@_conductor"
                                            R_EnableAdd
                                            R_EnableEdit
                                            Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />

                        </R_ItemLayout>

                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

        </R_StackLayout>


        <R_StackLayout Row>
            <R_GroupBox ShowBorder Title="@_localizer["_TaxInfo"]" Class="col-7">

                @* Tax Type *@
                <R_ItemLayout Class="d-flex">

                    <R_ItemLayout col="2">

                        <R_Label>
                            @_localizer["_TaxType"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="3">

                        <R_DropDownList Data="@_viewModel.oComboBoxTaxType"
                                        @bind-Value="_viewModel.Data.CTAX_TYPE"
                                        ValueField="@nameof(PMT01700ComboBoxDTO.CCODE)"
                                        TextField="@nameof(PMT01700ComboBoxDTO.CDESCRIPTION)"
                                        PopupMaxHeight="200px"
                                        R_ConductorSource="@_conductor"
                                        R_EnableAdd
                                        R_EnableEdit
                                        Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>

                    <R_ItemLayout col="1" />

                    <R_ItemLayout col="2">

                        <R_Label>
                            @_localizer["_IdType"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="3">

                        <R_DropDownList Data="@_viewModel.oComboBoxIdType"
                                        @bind-Value="_viewModel.Data.CID_TYPE"
                                        ValueField="@nameof(PMT01700ComboBoxDTO.CCODE)"
                                        TextField="@nameof(PMT01700ComboBoxDTO.CDESCRIPTION)"
                                        PopupMaxHeight="200px"
                                        R_ConductorSource="@_conductor"
                                        R_EnableAdd
                                        R_EnableEdit
                                        Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>

                </R_ItemLayout>

                        @* Tax ID *@
                <R_ItemLayout Class="d-flex pt-1">

                    <R_ItemLayout col="2">

                        <R_Label>
                            @_localizer["_TaxId"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="4">

                        <R_TextBox @bind-Value="@_viewModel.Data.CTAX_ID"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="40"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />

                    </R_ItemLayout>


                    <R_ItemLayout col="2">

                        <R_Label>
                            @_localizer["_IdNumber"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="4">

                        <R_TextBox @bind-Value="@_viewModel.Data.CID_NO"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="80"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>

                </R_ItemLayout>

                        @* Tax Name *@
                <R_ItemLayout Class="d-flex">

                    <R_ItemLayout col="2">

                        <R_Label>
                            @_localizer["_TaxName"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="4">

                        <R_TextBox @bind-Value="@_viewModel.Data.CTAX_NAME"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="100"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />

                    </R_ItemLayout>

                    <R_ItemLayout col="2">

                        <R_Label>
                            @_localizer["_IdExpiredDate"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="4">

                        <R_DatePicker Value="@_viewModel.Data.DID_EXPIRED_DATE"
                                      R_ConductorSource="@_conductor"
                                      ValueChanged="@((DateTime? value) => OnChangedDID_EXPIRED_DATE(value))"
                                      R_EnableAdd
                                      R_EnableEdit
                                      Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>

                </R_ItemLayout>

                        @* Tax Address *@
                <R_ItemLayout Class="d-flex pt-1">

                    <R_ItemLayout col="2">

                        <R_Label>
                            @_localizer["_TaxAddress"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="10">

                        <R_TextBox @bind-Value="@_viewModel.Data.CTAX_ADDRESS"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="255"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />

                    </R_ItemLayout>

                </R_ItemLayout>

            </R_GroupBox>

            <R_GroupBox ShowBorder Title="@_localizer["_Attention"]" Class="col-5">

                @* Name *@
                <R_ItemLayout Class="d-flex">

                    <R_ItemLayout col="3">

                        <R_Label>
                            @_localizer["_Name"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="5">
                        <R_TextBox @bind-Value="@_viewModel.Data.CATTENTION1_NAME"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="100"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>

                </R_ItemLayout>

                        @* Email *@
                <R_ItemLayout Class="d-flex pt-1">

                    <R_ItemLayout col="3">

                        <R_Label>
                            @_localizer["_Email"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="5">
                        <R_TextBox @bind-Value="@_viewModel.Data.CATTENTION1_EMAIL"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="100"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>

                </R_ItemLayout>

                        @* Name *@
                <R_ItemLayout Class="d-flex pt-1">

                    <R_ItemLayout col="3">

                        <R_Label>
                            @_localizer["_MobileNo"]
                        </R_Label>

                    </R_ItemLayout>

                    <R_ItemLayout col="5">
                        <R_TextBox @bind-Value="@_viewModel.Data.CATTENTION1_MOBILE_PHONE1"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="30"
                                   R_EnableAdd
                                   R_EnableEdit
                                   Enabled="@(!_viewModel.lControlCRUDMode && _viewModel.lControlExistingTenantOriginal)" />
                    </R_ItemLayout>
                </R_ItemLayout>
            </R_GroupBox>
        </R_StackLayout>
    </R_ItemLayout>


                        @*-----------------EVENT NAME-----------------------*@
    <R_StackLayout Row>

        <R_ItemLayout col="9">

            @* Building *@
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_Building"]
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="3">

                    <R_TextBox @bind-Value="@_viewModel.Data.CBUILDING_ID"
                               MaxLength="20"
                               OnLostFocus="OnLostFocusBuilding"
                               R_ConductorSource="@_conductor"
                               Enabled="@(!_viewModel.lControlCRUDMode && lEnabledFieldBuilding)" />

                </R_ItemLayout>
                <R_ItemLayout col="7" Class="d-flex">

                    <R_ItemLayout col="1" Class="ps-1">

                        <R_Lookup R_ConductorSource="@_conductor"
                                  @ref="@R_LookupBuildingLookup"
                                  R_Before_Open_Lookup="@BeforeOpenLookUpBuildingLookup"
                                  R_After_Open_Lookup="@AfterOpenLookUpBuildingLookup"
                                  Enabled="@(!_viewModel.lControlCRUDMode && lEnabledFieldBuilding)">
                            ...
                        </R_Lookup>
                    </R_ItemLayout>


                    <R_ItemLayout col="11" Class="ps-1">
                        <R_TextBox @bind-Value="@_viewModel.Data.CBUILDING_NAME"
                                   MaxLength="200"
                                   R_ConductorSource="@_conductor"
                                   Enabled="false" />

                    </R_ItemLayout>
                </R_ItemLayout>
            </R_ItemLayout>

            @* EventName *@
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_EventName*"]
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="10">

                    <R_TextBox @bind-Value="@_viewModel.Data.CUNIT_DESCRIPTION"
                               MaxLength="100"
                               R_ConductorSource="@_conductor"
                               R_EnableAdd
                               R_EnableEdit />

                </R_ItemLayout>
            </R_ItemLayout>

            @* Department *@
            <R_ItemLayout Class="d-flex pt-1" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_Department"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="3">

                    <R_TextBox @bind-Value="@_viewModel.Data.CDEPT_CODE"
                               MaxLength="20"
                               R_ConductorSource="@_conductor"
                               OnLostFocus="OnLostFocusDepartment"
                               R_EnableAdd
                               R_EnableEdit="false" />

                </R_ItemLayout>

                <R_ItemLayout col="7" Class="d-flex">

                    <R_ItemLayout col="1" Class="ps-1">

                        <R_Lookup R_ConductorSource="@_conductor"
                                  @ref="@R_LookupDepartmentLookup"
                                  R_EnableAdd
                                  R_EnableEdit="false"
                                  R_Before_Open_Lookup="@BeforeOpenLookUpDepartmentLookup"
                                  R_After_Open_Lookup="@AfterOpenLookUpDepartmentLookup">
                            ...
                        </R_Lookup>
                    </R_ItemLayout>

                    <R_ItemLayout col="11" Class="ps-1">

                        <R_TextBox @bind-Value="@_viewModel.Data.CDEPT_NAME"
                                   MaxLength="200"
                                   R_ConductorSource="@_conductor"
                                   Enabled="false" />

                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

                        @* Salesman *@
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_Salesman"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="3">

                    <R_TextBox @bind-Value="@_viewModel.Data.CSALESMAN_ID"
                               MaxLength="8"
                               OnLostFocus="OnLostFocusSalesman"
                               R_ConductorSource="@_conductor"
                               R_EnableAdd
                               R_EnableEdit />

                </R_ItemLayout>

                <R_ItemLayout col="7" Class="d-flex">

                    <R_ItemLayout col="1" Class="ps-1">

                        <R_Lookup R_ConductorSource="@_conductor"
                                  @ref="@R_LookupSalesmanLookup"
                                  R_Before_Open_Lookup="@BeforeOpenLookUpSalesmanLookup"
                                  R_After_Open_Lookup="@AfterOpenLookUpSalesmanLookup"
                                  R_EnableAdd
                                  R_EnableEdit>
                            ...
                        </R_Lookup>

                    </R_ItemLayout>

                    <R_ItemLayout col="11" Class="ps-1">

                        <R_TextBox @bind-Value="@_viewModel.Data.CSALESMAN_NAME"
                                   MaxLength="200"
                                   R_ConductorSource="@_conductor"
                                   Enabled="false" />

                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

            @* Offer No *@
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_OfferNo"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="3">

                    <R_TextBox @bind-Value="@_viewModel.Data.CREF_NO"
                               MaxLength="30"
                               R_ConductorSource="@_conductor"
                               Enabled="@(!_viewModel.lControlCRUDMode && _lDataCREF_NO)" />

                </R_ItemLayout>

                <R_ItemLayout col="7" Class="d-flex">

                    <R_ItemLayout col="2">
                        <R_Label hidden="@false">
                            # @_viewModel.Data.IREVISE_SEQ_NO
                        </R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="3" Class="ps-1">
                        <R_Label>
                            @_localizer["_ReviseFromNo"]
                        </R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="7" Class="ps-1">

                        <R_TextBox @bind-Value="@_viewModel.Data.CORIGINAL_REF_NO"
                                   MaxLength="30"
                                   R_ConductorSource="@_conductor"
                                   Enabled="false" />

                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

            @* Offer Date *@
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_OfferDate"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="10" Class="d-flex">

                    <R_ItemLayout col="5" Class="d-flex">

                        <R_ItemLayout col="7">
                            <R_DatePicker Value="@_viewModel.Data.DREF_DATE"
                                          R_ConductorSource="@_conductor"
                                          ValueChanged="@((DateTime? value) => OnChangedDREF_DATE(value))"
                                          R_EnableAdd
                                          R_EnableEdit />
                        </R_ItemLayout>

                        <R_ItemLayout col="5" Class="ps-1">
                            <R_Label>
                                @_localizer["_FollowUpDate"]
                            </R_Label>
                        </R_ItemLayout>

                    </R_ItemLayout>

                    <R_ItemLayout col="7" Class="d-flex">

                        <R_ItemLayout col="5" Class="ps-1">

                            <R_DatePicker Value="@_viewModel.Data.DFOLLOW_UP_DATE"
                                          R_ConductorSource="@_conductor"
                                          ValueChanged="@((DateTime? value) => OnChangedDFOLLOW_UP_DATE(value))"
                                          R_EnableAdd
                                          R_EnableEdit />

                        </R_ItemLayout>

                        <R_ItemLayout col="3" Class="ps-1">
                            <R_Label>
                                @_localizer["_ExpiredDate"]
                            </R_Label>
                        </R_ItemLayout>

                        <R_ItemLayout col="4" Class="ps-1">
                            <R_DatePicker Value="@_viewModel.Data.DEXPIRED_DATE"
                                          R_ConductorSource="@_conductor"
                                          ValueChanged="@((DateTime? value) => OnChangedDEXPIRED_DATE(value))"
                                          R_EnableAdd
                                          R_EnableEdit />

                        </R_ItemLayout>

                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

            @* Tenure *@
            <R_ItemLayout Class="d-flex pt-1" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_Tenure"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="10" Class="d-flex">

                    <R_ItemLayout col="1">
                        <R_NumericTextBox Value="@_viewModel.Data.IYEARS"
                                          R_ConductorSource="@_conductor"
                                          TValue="int"
                                          ValueChanged="@((Int32 value) => OnChangedCYEAR(value))"
                                          Min="0"
                                          Arrows="false"
                                          R_EnableAdd
                                          R_EnableEdit />
                    </R_ItemLayout>

                    <R_ItemLayout col="1" Class="ps-1">
                        <R_Label>
                            @_localizer["_Year"]
                        </R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="1" Class="ps-1">
                        <R_NumericTextBox Value="@_viewModel.Data.IMONTHS"
                                          R_ConductorSource="@_conductor"
                                          TValue="int"
                                          ValueChanged="@((Int32 value) => OnChangedCMONTH(value))"
                                          Min="0"
                                          Arrows="false"
                                          R_EnableAdd
                                          R_EnableEdit />
                    </R_ItemLayout>

                    <R_ItemLayout col="1" Class="ps-1">
                        <R_Label>
                            @_localizer["_Month"]
                        </R_Label>
                    </R_ItemLayout>

                    <R_ItemLayout col="1" Class="ps-1">
                        <R_NumericTextBox Value="@_viewModel.Data.IDAYS"
                                          R_ConductorSource="@_conductor"
                                          TValue="int"
                                          ValueChanged="@((Int32 value) => OnChangedCDAY(value))"
                                          Min="0"
                                          Arrows="false"
                                          R_EnableAdd
                                          R_EnableEdit />
                    </R_ItemLayout>

                    <R_ItemLayout col="1" Class="ps-1">
                        <R_Label>
                            @_localizer["_Day"]
                        </R_Label>
                    </R_ItemLayout>
                    <R_ItemLayout col="1" Class="ps-1">
                        <R_NumericTextBox Value="@_viewModel.Data.IHOURS"
                                          R_ConductorSource="@_conductor"
                                          TValue="int"
                                          ValueChanged="@((Int32 value) => OnChangedIHOUR(value))"
                                          Min="0"
                                          Max="24"
                                          Arrows="false"
                                          R_EnableAdd
                                          R_EnableEdit />
                    </R_ItemLayout>

                    <R_ItemLayout col="1" Class="ps-1">
                        <R_Label>
                            @_localizer["_Hour"]
                        </R_Label>
                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

            @* Plan Start Date *@
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_PlanStartDate"]*
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="10" Class="d-flex">

                    <R_ItemLayout col="6" Class="d-flex">

                        <R_ItemLayout col="8">
                            <R_DateTimePicker Value="@_viewModel.Data.DSTART_DATE"
                                              R_ConductorSource="@_conductor"
                                              ValueChanged="@((DateTime? value) => OnChangedDSTART_DATE(value))"
                                              R_EnableAdd
                                              R_EnableEdit />
                        </R_ItemLayout>

                        <R_ItemLayout col="3">

                        </R_ItemLayout>
                    </R_ItemLayout>

                    <R_ItemLayout col="6" Class="d-flex">

                        <R_ItemLayout col="4">
                            <R_Label>
                                @_localizer["_PlanEndDate"]
                            </R_Label>
                        </R_ItemLayout>

                        <R_ItemLayout col="8" Class="ps-1">

                            <R_DateTimePicker Value="@_viewModel.Data.DEND_DATE"
                                              R_ConductorSource="@_conductor"
                                              ValueChanged="@((DateTime? value) => OnChangedDEND_DATE(value))"
                                              Min="@tStartDate"
                                              R_EnableAdd
                                              R_EnableEdit />

                        </R_ItemLayout>

                    </R_ItemLayout>
                </R_ItemLayout>
            </R_ItemLayout>

            @* Unit Description *
            <R_ItemLayout Class="d-flex pt-1" col="12">

            <R_ItemLayout col="2">
            <R_Label>
            @_localizer["_UnitDescription"]*
            </R_Label>
            </R_ItemLayout>

            <R_ItemLayout col="10">

            <R_TextBox @bind-Value="@_viewModel.Data.CUNIT_DESCRIPTION"
            MaxLength="255"
            R_ConductorSource="@_conductor"
            R_EnableAdd
            R_EnableEdit />

            </R_ItemLayout>

            </R_ItemLayout>

            @* Note *@
            <R_ItemLayout Class="d-flex" col="12">

                <R_ItemLayout col="2">
                    <R_Label>
                        @_localizer["_Note"]
                    </R_Label>
                </R_ItemLayout>

                <R_ItemLayout col="10">

                    <R_TextArea @bind-Value="@_viewModel.Data.CNOTES"
                                R_ConductorSource="@_conductor"
                                R_EnableAdd
                                R_EnableEdit />

                </R_ItemLayout>

            </R_ItemLayout>

        </R_ItemLayout>

        <R_ItemLayout col="3">

            @* Trx Status *@
            <R_ItemLayout col="12" Class="pt-1">

                <R_Label>
                    @_viewModel.Data.CTRANS_STATUS_DESCR
                </R_Label>

            </R_ItemLayout>

            @* Offer Status *@
            <R_ItemLayout col="12" Class="d-flex">

                <R_ItemLayout col="4">

                    <R_Label>
                        @_localizer["_OfferStatus"]
                    </R_Label>

                </R_ItemLayout>

                <R_ItemLayout col="7" Class="pe-1">
                    <R_TextBox @bind-Value="@_viewModel.Data.CAGREEMENT_STATUS_DESCR"
                               R_ConductorSource="@_conductor"
                               Enabled="false" />
                </R_ItemLayout>

            </R_ItemLayout>

            @* Blanks *@
            <R_ItemLayout Class="pt-5" />

            @* Billing Rule *@
            <R_ItemLayout col="12" Class="d-flex">

                <R_ItemLayout col="4">

                    <R_Label>
                        @_localizer["_Currency"]*
                    </R_Label>

                </R_ItemLayout>

                <R_ItemLayout col="7" Class="d-flex">

                    <R_ItemLayout col="9">
                        <R_TextBox @bind-Value="@_viewModel.Data.CCURRENCY_CODE"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="20"
                                   OnLostFocus="OnLostCurrencyRule"
                                   R_EnableAdd
                                   R_EnableEdit />
                    </R_ItemLayout>

                    <R_ItemLayout col="3" Class="ps-2">

                        <R_Lookup R_ConductorSource="@_conductor"
                                  @ref="@R_LookupCurrencyLookup"
                                  R_EnableAdd
                                  R_EnableEdit
                                  R_Before_Open_Lookup="@BeforeOpenLookUpCurrencyLookup"
                                  R_After_Open_Lookup="@AfterOpenLookUpCurrencyLookup">
                            ...
                        </R_Lookup>
                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

                        @* Booking Fee *@
            <R_ItemLayout col="12" Class="d-flex">

                <R_ItemLayout col="4">

                    <R_Label>
                        @_localizer["_BookingFee"]
                    </R_Label>

                </R_ItemLayout>

                <R_ItemLayout col="7" Class="pe-1">
                    <R_NumericTextBox @bind-Value="@_viewModel.Data.NBOOKING_FEE"
                                      R_ConductorSource="@_conductor"
                                      TValue="decimal"
                                      Arrows="false"
                                      R_EnableAdd
                                      R_EnableEdit
                                      Min="1" />

                </R_ItemLayout>

            </R_ItemLayout>

                    @* T * C *@
            <R_ItemLayout col="12" Class="d-flex">

                <R_ItemLayout col="4">

                    <R_Label>
                        @_localizer["_TandC"]
                    </R_Label>

                </R_ItemLayout>

                <R_ItemLayout col="7" Class="d-flex">

                    <R_ItemLayout col="9">
                        <R_TextBox @bind-Value="@_viewModel.Data.CTC_CODE"
                                   R_ConductorSource="@_conductor"
                                   MaxLength="20"
                                   OnLostFocus="OnLostFocusTandC"
                                   R_EnableAdd
                                   R_EnableEdit />
                    </R_ItemLayout>

                    <R_ItemLayout col="3" Class="ps-2">

                        <R_Lookup R_ConductorSource="@_conductor"
                                  @ref="@R_LookupTandCLookup"
                                  R_EnableAdd
                                  R_EnableEdit
                                  R_Before_Open_Lookup="@BeforeOpenLookUpTandCLookup"
                                  R_After_Open_Lookup="@AfterOpenLookUpTandCLookup">
                            ...
                        </R_Lookup>
                    </R_ItemLayout>

                </R_ItemLayout>

            </R_ItemLayout>

        </R_ItemLayout>

    </R_StackLayout>
</R_StackLayout>
                        @* Button CRUD *@


<R_ItemLayout hidden="@(_lViewMode)">
    <R_ItemLayout Class="d-flex justify-content-between" hidden=@_LOpenCustomPage>

        <R_StackLayout Row>
            <R_ItemLayout>
                <R_AddButton R_Conductor="@_conductor" />
            </R_ItemLayout>
            <R_ItemLayout>
                <R_EditButton R_Conductor="@_conductor" />
            </R_ItemLayout>
            <R_ItemLayout>
                <R_DeleteButton R_Conductor="@_conductor" />
            </R_ItemLayout>
        </R_StackLayout>

        <R_StackLayout Row>
            <R_ItemLayout>
                <R_PrintButton Enabled="@((_viewModel.Data.CTENANT_ID!=null) && _conductor.R_Access.Contains(R_eFormAccess.Print))"
                               R_Conductor="_conductor"
                               R_Before_Open_Popup="@BeforeOpen_PopupPrint">
                    @_localizer["_Print"]
                </R_PrintButton>
            </R_ItemLayout>
            <R_ItemLayout>
                <R_Button R_Conductor="@_conductor"
                          Enabled="@(_viewModel.lControlCRUDMode && _viewModel.lControlButtonSubmit)"
                          OnClick="@SubmitBtn">
                    @_localizer["_Submit"]
                </R_Button>
            </R_ItemLayout>
            <R_ItemLayout>
                <R_Button R_Conductor="@_conductor"
                          Enabled="@(_viewModel.lControlCRUDMode && _viewModel.lControlButtonRedraft)"
                          OnClick="@RedraftBtn">
                    @_localizer["_Redraft"]
                </R_Button>
            </R_ItemLayout>
        </R_StackLayout>

        <R_StackLayout Row>
            <R_ItemLayout>
                <R_CancelButton R_Conductor="@_conductor" />
            </R_ItemLayout>
            <R_ItemLayout>
                <R_SaveButton R_Conductor="@_conductor" />
            </R_ItemLayout>
        </R_StackLayout>

    </R_ItemLayout>

    <R_StackLayout Class="d-flex justify-content-center">
        <div hidden=@(!_LOpenCustomPage)>
            <R_Popup R_Before_Open_Popup="@BeforeOpenPMT01700"
                     R_After_Open_Popup="@R_After_ServiceOpenOthersProgram"
                     Enabled>
                @_localizer["_CreateLOC"]
            </R_Popup>
        </div>
    </R_StackLayout>
</R_ItemLayout>

<R_Conductor @ref="@_conductor"
             R_ViewModel="@_viewModel"
             R_IsHeader
             R_ServiceGetRecord="@ServiceGetRecord"
             R_ServiceDelete="@ServiceDelete"
             R_ServiceSave="@ServiceSave"
             R_BeforeCancel="@R_BeforeCancel"
             R_CheckDelete="@R_CheckDelete"
             R_CheckEdit="@R_CheckEdit"
             R_AfterDelete="@AfterDelete"
             R_AfterSave="@AfterSave"
             R_Validation="@R_Validation"
             R_SetOther="@R_SetOther"
             R_AfterAdd="@AfterAdd"
             R_SetEdit="@R_SetEdit"
             R_Display="@ServiceR_Display" />
